@model PetCare_system.Models.Driver

@{
    ViewBag.Title = "Driver Login";
}

<h2>Driver Login</h2>

@using (Html.BeginForm("Login", "Drivers", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Login</button>


}
