<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="webpages:Enabled" value="false" />
		<add key="uploadMaxSize" value="104857600" />
		<!-- 100MB -->
		<add key="uploadAllowedExtensions" value=".mp4,.mov,.avi,.webm" />
	</appSettings>

	<system.web>
		<httpRuntime
		  maxRequestLength="102400"
		  executionTimeout="3600"
		  enableVersionHeader="false"
		  requestValidationMode="2.0"
		  targetFramework="4.7.2" />

		<compilation targetFramework="4.7.2" debug="false">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=5.2.9.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<customErrors mode="RemoteOnly" defaultRedirect="~/Error">
			<error statusCode="404" redirect="~/Error/NotFound" />
		</customErrors>

		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
				<!-- 100MB -->
				<fileExtensions allowUnlisted="false">
					<add fileExtension=".mp4" allowed="true" />
					<add fileExtension=".mov" allowed="true" />
					<add fileExtension=".avi" allowed="true" />
					<add fileExtension=".webm" allowed="true" />
				</fileExtensions>
			</requestFiltering>
		</security>

		<handlers>
			<remove name="BlockViewHandler"/>
			<add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
		</handlers>

		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
		</staticContent>

		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>

		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthentication" />
		</modules>
	</system.webServer>

	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.9.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization"/>
				<add namespace="System.Web.Routing" />
				<add namespace="PetCare_system" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>